[submodule "db"]
	path = db
	url = https://github.com/dsd-db/db.git
	branch = main
[submodule "algo"]
	path = algo
	url = https://github.com/PenGuln/furia.git
[submodule "public"]
	path = public
	url = https://github.com/tanzk929553499/dsd.git
